@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*  body  */
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: rgb(37, 37, 37);
}

/* navbar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:  .5px;
    background-color: rgba(0, 0, 0, .75)!important;
}

.navbar-brand img {
    height: 40px;
    padding-right: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link.active
 {
    color:rgb(185, 21, 21);
    padding-top: 10px;
    border-bottom: .5px solid white;
}

/* carousel  */
.carousel-item {
    height: 100vh;
    max-height: 1080px;
    background-repeat: no-repeat ;
    background-position: center;
}

/* Heading */
.heading:after {
    content: '';
    display: block; /* This will put the element on its own line. */
    width: 25%; 
    padding-top: 15px;
    margin: 0 auto; /* This will center the element */
    border-bottom: 3px solid rgb(185, 21, 21);
    border-radius: 3px;
}

/* col-12 doesn't display padding for some reason */
.col-12 {
    padding: 15px;
}

/* make an offset class to jump to the different sections of the page  */
.offset:before {
    content:'';
    display: block;
    height: 65px;
    margin-top: -65px;
}


/* Bootstrap breakpoints

Small devices (sm), landscape phones, 576px and up

Medium devices (md), tablets, 768px and up

Large devices (lg), desktops, 992px and up

Extra large devices (xl), large desktops, 1200px and up

*/