@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*  body  */
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: rgb(37, 37, 37);
}

/* navbar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:  .5px;
    background-color: rgba(0, 0, 0, .75)!important;
}

.navbar-brand img {
    height: 40px;
    padding-right: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link.active
 {
    color:rgb(185, 21, 21);
    padding-top: 10px;
    border-bottom: .5px solid white;
}

/* carousel  */
.carousel-item {
    height: 100vh;
    background-repeat: no-repeat;
}