@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*  body  */
html, body {
    overflow-x: hidden!important;
    font-family: 'Lato', sans-serif;
    color: rgb(37, 37, 37);
}

/* navbar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:  .1rem;
    background-color: rgba(0, 0, 0, .75)!important;
}

.navbar-brand img {
    height: 2.5rem;
    padding-right: .9rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .6rem;
}

.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link.active
 {
    color:rgb(185, 21, 21);
    padding-top: .7rem;
    border-bottom: .1rem solid white;
}

/* carousel  */
.carousel-item {
    height: 100vh;
    max-height: 1080px;
    background-repeat: no-repeat ;
    background-position: center;
}

.carousel-caption {
    position: absolute;
    top: 35%;
    /* width: 100%; left: 0; right: 0; could be used if the text was smaller*/
    text-shadow: 0 0 1.8rem darkgray;
    text-transform: uppercase;
}

.carousel-caption h1 {
    letter-spacing: .3rem;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Heading */
.heading {
    letter-spacing: .2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.heading:after {
    content: '';
    display: block; /* This will put the element on its own line. */
    width: 25%; 
    padding-top: 1rem;
    margin: 0 auto; /* This will center the element */
    border-bottom: .2rem solid rgb(185, 21, 21);
    border-radius: .2rem;
}

/* cards */
.card {
    margin: 2rem;
}


/* portfolio */

.jumbotron {
    padding: 1.7rem 0 1.7rem;
    border-radius: 0; /* get rid of rounded corners of jumbotron */
}

#portfolio img {
    transition: .5s ease;
}

#portfolio img:hover {
    overflow: hidden;
    transform: scale(1.1);
}

#portfolio .row.no-padding [class*=col-] {
    padding: 0;
}

/* col-12 doesn't display padding for some reason */
.col-12 {
    padding: .9rem;
}

/* make an offset class to jump to the different sections of the page  */
.offset:before {
    content:'';
    display: block;
    height: 3.8rem;
    margin-top: -2.8rem;
}

/* footer */
footer {
    padding: 1.6rem;
}

footer a {
    color: white;
    font-size: 1rem;
    margin: 1rem 0.5rem 0 0;
}

footer a:hover {
    color: rgb(185, 21, 21);
}

.copy {
    border: .1rem solid lightgrey;
    border-radius: .1rem;
}


/* Bootstrap breakpoints

Small devices (sm), landscape phones, 576px and up

Medium devices (md), tablets, 768px and up

Large devices (lg), desktops, 992px and up

Extra large devices (xl), large desktops, 1200px and up

*/